.comment-form-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0.6em;
  height: 50vh;
  margin-bottom: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LeaveCom {
  color: #c7f022;
  text-align: center;
  font-size: 2em;
}
.Info {
  color: #c7f022;
  font-size: 1.2em;
}
.comment-form {
  border-radius: 2em;
  background: #0459f7ae;
  background: linear-gradient(
    90deg,
    rgba(4, 89, 247, 1) 35%,
    rgba(199, 240, 34, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

.comment-form h2 {
  color: #c7f022;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  color: #c7f022;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.form-group input,
.form-group textarea {
  all: unset;
  width: 100%;
  box-shadow: -1px 21px 49px 20px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: -1px 21px 49px 20px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -1px 21px 49px 20px rgba(0, 0, 0, 0.59);
  padding: 10px;
  font-size: 1.5em;
  border-radius: 4px;
  color: #c7f022;
  height: 15vh;
}

textarea .form-group input:focus,
.form-group textarea:focus {
  border-color: #00000000;
  outline: none;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.star-button,
.star-button-blank {
  background: none;
  border: none;
  cursor: pointer;
}

.star {
  color: #ff0;
  font-size: 4em;
  padding: 0 !important;
}

.star-button-blank .star {
  color: #f5f5f54b;
  padding: 0 !important;
}
