.donation {
  margin-top: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.form-container {
  border-radius: 2em;
  background: #89898900;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10em 2em 2em 2em;
  background-color: rgba(20, 33, 61, 0.498);
  border-radius: 8px;
  -webkit-box-shadow: 8px 8px 24px 0px #c7f022;
  -moz-box-shadow: 8px 8px 24px 0px #c7f022;
  box-shadow: 8px 8px 24px 0px #c7f022;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.field-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.field-container input {
  padding: 10px;
  border: 1px solid #c7f022;
  border-radius: 4px;
}

button[type="submit"] {
  grid-column: 1 / -1;
  padding: 10px 15px;
  color: #c7f022;
  background: rgb(10, 17, 31);
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: black;
}

.field-container input {
  box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid rgb(20 33 61);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.field-container input:focus {
  border-color: #c7f022;
  box-shadow: 0 0 8px rgba(3, 169, 244, 0.5);
}
.creditcard {
  margin-bottom: 6em;
}
.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.container {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.creditcard .back {
  transform: rotateY(180deg);
}

.creditcard.flipped {
  transform: rotateY(180deg);
}

/* Update the card based on input changes */
input#securitycode:focus ~ .container .creditcard {
  transform: rotateY(180deg);
}

/* Card Image Styling */
.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  box-shadow: 1px 5px 6px rgb(0, 0, 0);
  border-radius: 22px;
  transition: fill 0.5s ease;
}

/* Changeable Card Elements */
.creditcard .lightcolor,
.creditcard .darkcolor {
  transition: fill 0.5s ease;
}

/* Example card color classes */
.creditcard .lightblue {
  fill: #c7f022;
}
.creditcard .lightbluedark {
  fill: #c7f022;
}
.creditcard .red {
  fill: #c7f022;
}
.creditcard .reddark {
  fill: #c7f022;
}
.creditcard .purple {
  fill: #c7f022;
}
.creditcard .purpledark {
  fill: #c7f022;
}
.creditcard .cyan {
  fill: #c7f022;
}
.creditcard .cyandark {
  fill: #c7f022;
}
.creditcard .green {
  fill: #c7f022;
}
.creditcard .greendark {
  fill: #c7f022;
}
.creditcard .lime {
  fill: #c7f022;
}
.creditcard .limedark {
  fill: #c7f022;
}
.creditcard .yellow {
  fill: #c7f022;
}
.creditcard .yellowdark {
  fill: #c7f022;
}
.creditcard .orange {
  fill: #c7f022;
}
.creditcard .orangedark {
  fill: rgba(20, 33, 61, 0.98);
}
.creditcard .grey {
  fill: rgba(20, 33, 61, 0.498);
}
.creditcard .greydark {
  fill: #c7f022;
}

/* Front of Card */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: black;
}

#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: rgb(20, 33, 61);
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: rgb(20, 33, 61);
}

/* Back of Card */
#cardback .st0 {
  fill: none;
  stroke: #0f0f0f;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: rgba(20, 33, 61, 0.498);
}

#cardback .st3 {
  fill: rgba(20, 33, 61, 0.498);
}

#cardback .st4 {
  fill: #00000032;
}

#cardback .st5 {
  fill: #1818184e;
}

#cardback .st6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: rgb(20 33 61);
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #000000;
}

#cardback .st12 {
  font-family: "Rock Salt", cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}
