.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3em;
}
.intro {
  max-width: 40%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.imgSection {
  max-width: 60%;
  height: auto;
}
.introImg {
  width: 35em;
}
/* home.module.css */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.learnMore {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.536);
  text-decoration: none;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.learnMore:hover {
  background-color: #e1e1e1;
  color: black;
  transform: scale(1.05);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgb(51, 51, 51) 0px 0px 0px 3px;
}
.title {
  font-size: large;
  margin-bottom: 1em;
  text-align: center;
  flex: 1;
}

.text {
  font-size: large;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logosSlide {
  animation-play-state: paused;
}

.logosSlide {
  display: flex;
  animation: slide 20s linear infinite;
}

.logosSlide img {
  height: 5em;
  margin: 0 40px;
}
