html,
body {
  height: 100%;
  margin: 0;
  background: rgb(255, 255, 255);
}
main {
  flex: 1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-family: "Poppins", sans-serif;
}
